.age-input {
  min-width: 60px;
  max-width: 70px;
  max-height: 31px;
  text-align: center;
}

.age-input-label {
  white-space: nowrap;
}

.gender-input {
  min-width: 110px;
  max-width: 150px;
  max-height: 31px;
  padding: 0 10px;
}
